@charset "UTF-8";
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.ellipsis {
  width: 27em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden; }

/*旋转木马必要样式*/
.poster-main {
  position: relative;
  margin: 0 auto;
  width: 1220px;
  height: 270px; }

.poster-main a, .poster-main img {
  display: block;
  width: 100%;
  height: 100%; }

.poster-main .poster-list {
  width: 1220px;
  height: 270px; }

.poster-main .poster-list .poster-item {
  position: absolute;
  left: 0;
  top: 0; }

.poster-main .poster-btn {
  position: absolute;
  top: 0;
  width: 100px;
  height: 270px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8; }

.poster-main .poster-prev-btn {
  left: -52px;
  background: url(../image/turn-left-active.png) no-repeat left center; }

.poster-main .poster-next-btn {
  right: -52px;
  background: url(../image/turn-right-active.png) no-repeat right center; }

.poster-main .bottom-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0; }
  .poster-main .bottom-text h3 {
    font-size: 16px;
    text-indent: 10px;
    width: 100%; }
  .poster-main .bottom-text p {
    font-size: 12px;
    text-indent: 10px;
    width: 100%; }

.activity-carousel {
  width: 1220px;
  margin: 0 auto 20px; }

.btn {
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #24b026;
  color: #24b026;
  background-color: #fff;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.btn-active {
  background-color: #24b026;
  color: #fff; }

.activity-tabs {
  width: 960px;
  margin: 0 auto; }
  .activity-tabs .menus li {
    float: left;
    padding: 15px 50px;
    border-top: 3px solid transparent;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    .activity-tabs .menus li.active {
      border-top: 3px solid #24b026;
      color: #24b026;
      background-color: #fff; }
    .activity-tabs .menus li:hover {
      color: #24b026; }
  .activity-tabs .container {
    display: none; }
    .activity-tabs .container.active {
      display: block; }
    .activity-tabs .container .item {
      margin: 25px 0; }
    .activity-tabs .container .thumbnail {
      position: relative;
      float: left;
      width: 230px;
      height: 180px;
      background-color: #f8f8f8; }
      .activity-tabs .container .thumbnail img {
        width: 100%;
        height: 100%; }
      .activity-tabs .container .thumbnail:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 68px;
        height: 65px; }
      .activity-tabs .container .thumbnail.carpooling:before {
        background: url(../image/carpooling.png) no-repeat center center; }
      .activity-tabs .container .thumbnail.activity:before {
        background: url(../image/activity.png) no-repeat center center; }
      .activity-tabs .container .thumbnail.plant:before {
        background: url(../image/plant.png) no-repeat center center; }
      .activity-tabs .container .thumbnail.barter:before {
        background: url(../image/barter.png) no-repeat center center; }
    .activity-tabs .container .introduce {
      float: left;
      margin: 0 20px;
      width: 400px; }
      .activity-tabs .container .introduce h3 {
        font-size: 22px;
        color: #24b026; }
      .activity-tabs .container .introduce .line {
        margin: 15px 0; }
      .activity-tabs .container .introduce i, .activity-tabs .container .introduce span, .activity-tabs .container .introduce p {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: auto; }
      .activity-tabs .container .introduce i {
        width: 22px;
        height: 22px; }
        .activity-tabs .container .introduce i.clock {
          background: url(../image/icons/icon-time.png) no-repeat center center; }
        .activity-tabs .container .introduce i.address {
          background: url(../image/address.png) no-repeat center center; }
        .activity-tabs .container .introduce i.host {
          background: url(../image/icons/icon-user.png) no-repeat center center; }
        .activity-tabs .container .introduce i.goods {
          background: url(../image/icons/icon-book.png) no-repeat center center; }
        .activity-tabs .container .introduce i.exchange {
          background: url(../image/icons/icon-exchange.png) no-repeat center center; }
      .activity-tabs .container .introduce .source .address {
        background: url(../image/source.png) no-repeat center center; }
      .activity-tabs .container .introduce .destination .address {
        background: url(../image/destination.png) no-repeat center center; }
      .activity-tabs .container .introduce span {
        color: #a2a2a2; }
    .activity-tabs .container .operation {
      float: right; }
      .activity-tabs .container .operation h3 {
        text-align: right;
        font-size: 16px;
        color: #a2a2a2;
        margin-bottom: 50px; }
        .activity-tabs .container .operation h3 .clock {
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          height: 16px;
          margin-top: -2px;
          background: url(../image/icons/icon-time.png) no-repeat center center; }
      .activity-tabs .container .operation .btn-group .btn {
        display: inline-block;
        margin-left: 20px; }

.add-activity-tabs {
  width: 100%; }
  .add-activity-tabs .menus {
    position: relative;
    padding-top: 25px;
    background-color: #f8f8f8; }
    .add-activity-tabs .menus ul {
      margin: 0 auto;
      width: 960px; }
    .add-activity-tabs .menus .wrap-launch-activity {
      position: absolute;
      left: 50%;
      margin-left: 340px;
      top: 0;
      height: 100%;
      padding-left: 20px;
      border-left: 1px solid #e5e5e5; }
      .add-activity-tabs .menus .wrap-launch-activity .launch-activity {
        display: inline-block;
        margin-top: 25px;
        width: 120px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        text-align: center;
        border: 1px solid #24b026;
        color: #24b026;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        .add-activity-tabs .menus .wrap-launch-activity .launch-activity span {
          font-size: 30px;
          vertical-align: -4px; }
  .add-activity-tabs .content {
    margin: 0 auto;
    width: 960px; }

.authentication {
  color: #a9a9a9;
  text-align: center;
  margin: 100px auto;
  font-size: 20px; }
  .authentication .icon-cry {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 53px;
    background: url(../image/icons/icon-cry.png) no-repeat center center; }
  .authentication .icon-smile {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 53px;
    background: url(../image/icons/icon-smile.png) no-repeat center center; }
  .authentication a {
    color: #24b026; }

.activity-type-list {
  text-align: center; }
  .activity-type-list label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 100px 60px; }
    .activity-type-list label img {
      width: 88px;
      height: 88px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
    .activity-type-list label h4 {
      font-size: 16px; }
    .activity-type-list label input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      filter: alpha(opacity=0); }
    .activity-type-list label i {
      position: absolute;
      right: -17px;
      top: -17px;
      display: none;
      width: 37px;
      height: 37px;
      background: url(../image/icons/checked.png) no-repeat center center; }
  .activity-type-list .selected i {
    display: block; }

.dialog-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
  background-color: rgba(0, 0, 0, 0.5); }
  .dialog-mask .dialog {
    position: absolute;
    border: 3px solid #24b026;
    border-radius: 5px;
    background-color: #fff; }
    .dialog-mask .dialog .dialog-head {
      padding: 10px;
      background-color: #24b026;
      color: #fff;
      font-size: 16px; }
    .dialog-mask .dialog .dialog-body {
      background-color: #fff; }
    .dialog-mask .dialog .dialog-foot {
      padding: 20px;
      text-align: center;
      border-top: 1px solid #eeeeee;
      background-color: #fff; }
      .dialog-mask .dialog .dialog-foot .btn {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #24b026;
        font-size: 14px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 0 10px; }
      .dialog-mask .dialog .dialog-foot .btn-default {
        color: #24b026;
        background-color: #fff; }
      .dialog-mask .dialog .dialog-foot .btn-success {
        background-color: #24b026;
        color: #fff; }
        .dialog-mask .dialog .dialog-foot .btn-success a {
          color: #fff; }

.activity-tabs .btn {
  position: relative; }
  .add-fri-box {
    position: absolute;
    width: 200px;
    bottom: -82px;
    left: 0;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #86db87; }
    .add-fri-box:after {
      content: "";
      position: absolute;
      width: 13px;
      height: 11px;
      left: 40px;
      top: -10px;
      background: url("../image/icons/icon-tip-up.png") no-repeat center center; }
    .add-fri-box .fri-text {
      font-size: 14px;
      color: #333333;
      margin-bottom: 5px;
      line-height: 1.2; }
      .add-fri-box .fri-text .icon-warn-little {
        display: inline-block;
        background: url("../image/icons/icon-inputnote.png") no-repeat center center;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        vertical-align: middle; }
    .add-fri-box .fri-note {
      line-height: 1.2;
      text-align: center;
      font-size: 12px;
      color: #a9a9a9; }
      .add-fri-box .fri-note .add-fri-note {
        color: #24b026; }

/*# sourceMappingURL=carbonActivity.css.map */
