@charset "utf-8";

$border-color:#e5e5e5;
$carbon-red:#ff0000;

.carbon-activity{

	.activity-header-box{
		height: 60px;
		background: #f9f9f9;
		line-height: 60px;
		.activity-header{
			position: relative;
			font-size:24px;
			color:#333333;
			width: 1220px;
			padding-left: 70px;
			margin: 0 auto;
		}

		.cancel-button{
			position: absolute;
			right: 280px;
		    top: 14px;
			height: 32px;
			line-height: 32px;
			cursor: pointer;
            padding: 0 15px;
            color:#ffffff;
            background-color: $carbon-red;
            font-size: 14px;
		}
	}

	/* 表单填写 */
	.fill-box{
		padding-top: 40px;
		width: 625px;
		margin: 0 auto;
		padding-bottom: 30px;
		&.car{
			width: 625px;
		}
		input{
			border:none;
			&:focus{
				outline: none;
			}
			&:disabled{
				background-color: #ffffff;
			}
		}
		textarea{
			&:disabled{
				background-color: #ffffff;
			}
		}
		@at-root .fill-list{
			.fill-li{
				margin-bottom: 30px;
				position: relative;
				textarea{
					border: none;
					&:focus{
						outline: none;
					}
					display: inline-block;
					padding: 15px;
					height: 170px;
					width: 100%;
                    line-height:1.6;
                    box-sizing:border-box;
                    -moz-box-sizing:border-box; /* Firefox */
                    -webkit-box-sizing:border-box;
                }
				&:after{
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
				}
				.fill-title{
					position: absolute;
					left: -260px;
					top:0;
					height: 52px;
					line-height: 48px;
				    text-align: right;
				    font-size: 16px;
				    color:#333333;
				    width: 250px;
				    .important-sign{
				    	color:#ff0000;
				    	display: inline-block;
				    	padding-right: 2px;
				    }
				    .title-note{
				    	color:#a9a9a9;
				    }
				}
				.input-unit{
					position: absolute;
					height: 50px;
					line-height: 50px;
					right: 0;
					padding: 0 15px;
					z-index: 10;
					top:0;
					background: #ffffff;
					color:#a9a9a9;
				}
			}
		    .two-input-item{
		    	position: relative;
		    	float: left;
		    	width: 205px;
		    	border:1px solid $border-color;
		    	height: 50px;
		    	line-height: 50px;
		    	margin-left:25px;
                input{
                    width: 160px;
                }
		    	&.none-icon{
		    	   input{
		    	   	   display: inline-block;
                       box-sizing:border-box;
                       -moz-box-sizing:border-box; /* Firefox */
                       -webkit-box-sizing:border-box; /* Safari */
		    	   	   width: 100%;
		    		   padding:0 15px;
		    	   }
		    	}
		    	&:first-child{
		    		margin-left: 0;
		    	}
		    }
		    .one-input-item{
		    	position: relative;
		    	float: left;
		    	width: 438px;
		    	border:1px solid $border-color;
		    	height: 50px;
		    	line-height: 50px;
		    	&.none-icon{
		    	   input{
                       position:relative;
                       z-index:1;
		    	   	   display: inline-block;
                       box-sizing:border-box;
                       -moz-box-sizing:border-box; /* Firefox */
                       -webkit-box-sizing:border-box; /* Safari */
		    	   	   width: 100%;
		    		   padding:0 15px;
		    		   &.time-input{
                           padding:16px 40px 16px 15px;
                           background:none;
                       } 
		    	   }
		    	}
		    	@at-root .input-note{
		    		position: absolute;
		    		top:0;
		    		left: 450px;
		    		height: 50px;
		    		line-height: 50px;
		    		color:$carbon-red;
		    		font-size: 14px;
		    		white-space:nowrap;
		    		.icon-inputnote{
                       height: 20px;
                       width: 20px;
                       display: inline-block;
                       background: url("../image/icons/icon-inputnote.png") no-repeat center center;
                       padding:  0 5px ;
                       vertical-align: middle;
		    		}
		    	}
		    }
		    .one-area-item{
		    	position: relative;
		    	float: left;
		    	width: 626px;
		    	border:1px solid $border-color;
		    }
		    &.only-show{
                .fill-li{
                    margin-bottom:10px;
                }
		    	.one-area-item{
		    		border: none;
		    		input{
		    			padding-left: 0;
		    		}
		    		textarea{
		    			padding-left: 0;
                        text-align:justify;
                        text-justify:inter-word;
		    		}
		    	}
		    	.two-input-item{
		    		border: none;
		    		input{
		    			padding-left: 0;
                        width: 160px;
		    		}
		    	}
		    	.fill-title{
		    		color:#a9a9a9;
		    	}
		    }
		}

        
	}
    .input-item{
            margin-bottom:30px;
            width:418px;
            height:46px;
            font-size:16px;
            border:1px solid #e5e5e5;
            input{
                height:100%;
                width:100%;
                padding:10px;
                border:none;
                outline:none;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
            }
        }
        .address-item{
            position:relative;
            float:left;
            width:128px;
            margin-right:15px;
            input{
                font-size:14px;
                padding-right:20px;
            }
            .icon-down{
                position:absolute;
                right:0px;
                top:0px;
                display:inline-block;
                width:30px;
                height:46px;
                cursor:pointer;
                background:url(../../statics/image/icons/icon-dropdown9.png) no-repeat center center;
            }
            .dropdown-list{
          
                li{
                    height:35px;
                    font-size:14px;
                    line-height:35px;
                    cursor:pointer;
                    color:#666;
                    &:hover{
                        background-color:#f8f8f8;
                        color:#999;
                    }
                }
            }
        }
	.icon-spot{
		display: inline-block;
		background: url("../image/source.png") no-repeat center center;
		height: 20px;
		width: 16px;
		padding-left: 5px;
		padding-right: 5px;
		vertical-align: middle;
		&.end{
			background-image: url("../image/destination.png")
		}
	}
	.icon-time{
        position:absolute;
        right:10px;
        top:12px;
		display: inline-block;
		background: url("../image/icons/icon-canlendar.png") no-repeat center center;		
		height: 25px;
		width: 25px;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box;
        vertical-align: middle;
	}
	.dropdown-list{
		z-index: 10;
		display: none;
        position: absolute;
        left: -1px;
        width: 128px;
        overflow-y: auto;
        max-height: 200px;
        text-indent: 10px;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        width: 205px;
	}

    /* 下拉选项 */

    .input-item{
    	margin: 0;
    }
	.address-item{
		margin: 0;
		margin-left: 25px; 
		width: 205px;
		&:first-child{
			margin-left: 0;
		}
	}

	.submit-button{
		height: 60px;
		line-height: 60px;
		color:#ffffff;
		background: #24af26;
		text-align: center;
		width: 210px;
		font-size: 24px;
        cursor:pointer;
	}

    /* 上传图片 */
	.img-box{
		overflow: hidden;
	    width: 639px;
		.img-default{
			position: relative;
			float: left;
			width: 200px;
			margin-right: 13px;
			height: 130px;
			margin-bottom: 15px;
			background: url("../image/bg-default.png") no-repeat center center;
			background-color: #ebebeb;
            input{
                position:absolute;
                left:0;
                top:0;
                z-index:12;
                width:200px;
                height:130px;
                display:inline-block;
                opacity: 0;
                filter: alpha(opacity=0);
            }
			img{
                z-index: 11;
                 position: relative;
				width: 100%;
				height: 100%;
			}
			.default-note{
				position: absolute;
				width: 180px;
				left: 10px;
				top:42px;
				color:#a9a9a9;
				font-size: 16px;
				text-align: center;
			}
		}
	}
	.img-note{
        font-size: 16px;
        color:#ff0000;
    }

	/* 发起成功 */
	.wrap-register{
        padding-top: 130px;
	}
    .finish-note{
        text-align: center;
        height: 85px;
        line-height: 85px;
        .finish-note-word{
            font-size: 36px;

            display: inline-block;
            padding-left: 20px;
        }
    }
	.finish-icon{
        vertical-align: top;
        display: inline-block;
		height: 85px;
		width: 85px;
		background: url("../image/bg-success.png") no-repeat center center;
		margin:  0 auto;
	}
	.finished-tip{
		font-size: 24px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.wrap-register .finished-step .back-login a{
		width: 175px;
		height: 45px;
		line-height: 45px;
		font-size: 18px;
	}

    /* ---------------------详情页面 ----------------*/
	/* 详情头部 */
	.part-title{
		font-size: 24px;
		color:#333333;
		padding-bottom: 25px;
		border-bottom: 1px solid $border-color;
	}
    
    .goods-detail-box{
    	width: 960px;
        padding-top: 20px;
    	overflow: hidden;
    	margin: 0 auto;
    	margin-bottom: 40px;
    	.goods-detail-img{
    		float: left;
    		width: 355px;
    		height: 265px;
    		img{
    			width: 100%;
    			height:100%;
    		}
    	}
        .goods-detail-ticket{
            background: #f4f5f7;
            float: left;
            width: 355px;
            height: 225px;
            padding: 0 10px;
            box-sizing:border-box;
            -moz-box-sizing:border-box; /* Firefox */
            -webkit-box-sizing:border-box; /* Safari */ 
            .ticket-destination{
                padding: 35px 0;
                overflow: hidden;
                font-size: 14px;
                color:#a9a9a9;
                .ticket-start{
                    float: left;
                }
                .ticket-end{
                    float: right;
                }
            }
            .ticket-spot{
                margin-bottom: 35px;
                .spot-name{
                    display: inline-block;
                    color:#24b026;
                    font-size: 19px;
                    width: 96px;
                    white-space:nowrap;  
                    text-overflow:ellipsis;
                     overflow:hidden;
                }
                .station-box{
                    display: inline-block;
                    position: relative;
                    width: 114px;
                    height: 16px;
                    margin: 0 10px;
                    box-sizing:border-box;
                    -moz-box-sizing:border-box; /* Firefox */
                    -webkit-box-sizing:border-box; /* Safari */
                    background: url("../image/img-station-line.png") no-repeat center top;
                    &.two-station{
                        background: url("../image/img-station-line2.png") no-repeat center center;
                        .up{
                            width: 90px;
                             left: 0;
                             top:-15px;                          
                        }
                        .down{
                            width: 90px;
                            right: 28px;
                            bottom:-15px;
                            text-align: right;                          
                        }
                    }
                    &.one-station{
                        background: url("../image/img-station-line1.png") no-repeat center center;
                        .up{
                            width: 100px;
                            text-align: center;
                             left: 0;
                             top:-15px;                          
                        }
                    }
                    .station-spot{
                        font-size: 12px;
                        color:#666666;
                        position: absolute;
                        display: inline-block;
                        white-space:nowrap;  
                        text-overflow:ellipsis;
                         overflow:hidden;  
                    }                    
                }
            }
            .ticket-mess{
                height: 70px;
                line-height: 70px;
                border-top: 1px dashed $border-color;
                position: relative;
                font-size: 18px;
                color:#333333;
                &:after{
                    position: absolute;
                    top:-9.5px;
                    right: -19px;
                    content: "";
                    width: 19px;
                    height: 19px;
                    background: url("../image/icons/icon-border-round.png") no-repeat center center;
                }
                &:before{
                    position: absolute;
                    top:-9.5px;
                    left: -19px;
                    content: "";
                    width: 19px;
                    height: 19px;
                    background: url("../image/icons/icon-border-round.png") no-repeat center center;
                }
                .ticket-date{
                    float: left;
                    .ticket-date-time{
                        display: inline-block;
                        padding-left: 10px;
                    }
                }
                .car-licence{
                    float: right;
                }
            }           
        }
    	.replace-function-box{
    		float: left;
    		margin-left: 25px;
    		width: 580px;
            .replace-goods{
            	padding: 0;
            	margin: 0;
            	font-size: 24px;
            	color: #333333;
            }
            .replace-text-box{
            	padding: 20px 0 5px;
            	border-bottom: 1px solid $border-color;
                .replace-text-item{
                	color:#a9a9a9;
                	font-size: 14px;
                    margin-bottom: 10px;
                	.replace-text-mess{
                		color:#333333;

                	}
                	&.key .replace-text-mess{
                		font-size: 16px;
                		color:#24b026;
                	}
                }
            }
    	}
    	.goods-function{
    		padding-top: 25px;
    		overflow: hidden;
    		.goods-function-btn{
                position:relative;
                cursor: pointer;
    			float: left;
    			height: 30px;
    			line-height: 30px;
    			width: 90px;
    			text-align: center;
    			font-size: 14px;
    			color: #ffffff;
    			background: #24b026;
    			margin-left: 15px;
    			&:first-child{
    				margin-left: 0;
    			}
    		}
    	}

    }
    
    .treasure-intro{
    	width: 960px;
    	margin: 0 auto;
    	.treasure-box{
    		padding: 25px;
    		overflow: hidden;
    		&.car-detail{
    			padding-left: 0;
                padding-right: 0;
    		}
    	}
    	.treasure-title{
    		color:#666666;
    		color:14px;
    		margin-bottom: 25px;
    	}
    	.treasure-img-box{
    		overflow: hidden;
            .treasure-img-item{
            	float: left;
            	width: 290px;
            	height: 210px;
            	margin-right: 20px;
            	margin-bottom: 20px;
            	img{
            		width: 100%;
            		height: 100%;
            	}
            }
    	}
    }

    .car-detail-box{
    	float: left;
    	width: 395px;
    	font-size: 16px;
    	.car-detail-item{
    		position: relative;
    		color:#333333;
    		margin-bottom: 30px;
    		.car-detail-title{
    			display: inline-block;
    			color:#a9a9a9;
    		}
    	}
    }
    .car-map{
    	float: right;
    	width: 515px;
    	height: 365px;
    	img{
    		width: 100%;
    		height: 100%;
    	}
    }
    .icon-exchange{
    	display: inline-block;
    	vertical-align: middle;
    	width: 20px;
    	height: 25px;
    	margin-right: 10px;
    	background: url("../image/icons/icon-exchange.png") no-repeat center center;
    	&.people{
    		background-image:url("../image/icons/icon-people.png") ;
    	}
    	&.tel{
    		background-image:url("../image/icons/tel.png") ; 
    	}	
    	&.clock{
    		background-image:url("../image/icons/icon-clock.png") ; 
    	}	
    	&.spot{
    		background-image:url("../image/address.png") ; 
    	}	
    }


	

    /* 步骤部分 */
    .wrap-register.activity-plan{
    	width: 980px;
    	margin: 0 auto;
    	padding-top: 50px;
    	.wrap-process{
    		width: 960px;
    		.process-part{
    			width: 320px;
    			.process-number{
                    left: 50%;
                    margin-left: -22.5px;
                    height: 45px;
                    width: 45px;
                    line-height: 45px;
                    top: -22px;
                    background: url("../image/icons/icon-round45.png") no-repeat center center;
                    img{

                        /* background: #ffffff; */
                        width:20px;
                    }
    			}
    			&.part-finished{
    			    .process-number{
                        background-image: url("../image/icons/icon-round45-active.png");
                        &.none-bg{
                            background: none;
                        }
    			    }    				
    			}
    		} 
    	}
    }

    .process-detail-box{
        width: 980px;
        margin: 0 auto;
        /* 步骤一 */
        .process-title{
        	font-size: 18px;
        	color: #333333;
            padding-left:10px;
        	padding-bottom: 20px;
        }
        .process-next{  

            padding: 18px 15px;
            margin:160px auto 30px;
            width:930px;
            background-color: #fafafa;
            overflow: hidden;
            .next-button{
                float: right;
                font-size: 16px;
                color:#ffffff;
                text-align: center;
                padding: 10px 15px;
                background-color: #24af26;
                cursor: pointer;
            }
        }
        .select-plan-box{
        	overflow: hidden;
            padding-top: 20px;
        }
        .select-plan-item{
        	border: 2px solid #eeeeee;
        	float: left;
        	width: 466px;
            margin:0 10px 20px;
        	&.active{
        		border-color:#24b026;
        		position: relative;
        		&:after{
        			content: "";
        			position: absolute;
        			height: 38px;
        			width: 38px;
        			background: url("../image/icons/icon-pass.png") no-repeat center center;
        			bottom: 0;
        			right: 0;
        		}
        	}
        	.plan-money-box{
        		background-color: #fafafa;
        		padding: 15px 20px;
        		color: $carbon-red;
        		font-size: 14px;
        		.big-num{
        			font-size: 24px;
        		}
        	}
        	.plan-implement-box{
        		padding: 15px 20px;

        		.kind-name{
        			font-size: 18px;
        			color:#333333;
        			margin-bottom: 15px;
        		}
        		.plan-get{
        			color:#666666;
        			font-size: 14px;
        			margin-bottom: 15px;
        			.money{
        				color:#24b026;
        			}
        		}
        		.coupon-box{
        			overflow: hidden;
        			padding-bottom: 15px;
        			border-bottom: 1px solid $border-color;
        			margin-bottom: 15px;
        			height: 113px;
        			&.hide{
        				visibility:hidden;
        			}
        			.coupon-item{
        				overflow: hidden;
        				width: 201px;
        				float: left;
        				border: 1px solid $border-color;
        				border-radius: 5px;
        				&:first-child{
        					margin-right: 20px;
        				}
        				.coupon-kind{
        					height: 110px;
        					float: left;
        					color:#ffffff;
        					padding: 0 2px;
        					 padding-top: 28px;
                            box-sizing:border-box;
                            -moz-box-sizing:border-box; /* Firefox */
                            -webkit-box-sizing:border-box; /* Safari */
        					position: relative;
        					width: 30px;
        					float: left;
        					text-align: center;
        					background-color: #24b026;
        					&:after{
        						content: "";
        						position: absolute;
        						right: -4.5px;
        						width: 9px;
        						height: 100%;
        						top:0px;
        						background: url("../image/img-border1.png") repeat center center;
        					}
        					&.goal{
        						background-color: #ff9600;
        						&:after{
        							background-image:url("../image/img-border2.png");
        						}
        					}
        				}
        				.coupon-detail{
        					float: left;
        					padding: 15px;
        					padding-right: 0;
        					.coupon-name{
        						font-size: 16px;
        						color:#333333;
        						margin-bottom: 5px;
        					}
        					.coupon-money-box{
        						@at-root .icon-money{
        							width: 20px;
        							height:20px;
        							display: inline-block;
        							margin-right: 5px;
        							background: url("../image/icons/icon-user-tanbi.png") no-repeat center center;
                                    vertical-align: middle;
        						}
        						margin-bottom: 5px;
        						color: $carbon-red;
        						font-size: 22px;
        						.calculate-sign{
        							color:#a9a9a9;
        						}
        					}
        					.coupon-shop{
        						font-size: 12px;
        						color:#a9a9a9;
        					}
        				}
        			}
        		}
        		.thanks-word{
        			color:#a9a9a9;
        			font-size: 14px;
        		}
        	}
        }

        /* 步骤二 */
        .process-activity-list{
            padding-top: 30px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            .pay-li{
                height: 32px;
                line-height: 32px;
                overflow: hidden;
                font-size: 14px;
                margin-bottom: 22px;
                .pay-li-title{
                    color: #333333;
                    float: left;
                    width: 195px;
                    text-align: right;
                    margin-right: 5px;
                }
                .pay-title-text{
                    float: left;
                     color: #24af26;
                }
                .pay-people{
                    float: left;
                    overflow: hidden;
                    .pay-people-num{
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        border:1px solid $border-color;
                        span{
                            display: inline-block;
                            text-align: center;
                            &.num-minus{
                                cursor: pointer;
                                width: 30px;
                                border-right: 1px solid $border-color;
                                &.useless{
                                    color:#cccccc;
                                }
                            }
                            &.num-plus{
                                cursor: pointer;
                                width: 30px;
                                border-left: 1px solid $border-color;
                                &.useless{
                                    color:#cccccc;
                                }
                            }
                            &.num-text{
                                width: 50px;
                                input{
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .pay-people-note{
                        display: inline-block;
                        margin-left: 20px;
                        font-size: 12px;
                        color:#a9a9a9;
                        height: 30px;
                        line-height: 30px;
                        .people-max{
                            color:$carbon-red;
                        }
                    }
                }
                .pay-input{
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    width: 130px;
                    padding: 0 10px;
                    border: 1px solid $border-color;
                    @at-root input{
                        width: 100%;
                        border: none;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
        .detail-account-box{
            padding: 30px 0;
            border-bottom: 1px solid $border-color;
            font-size: 14px;
            color:#333333;
            .detail-account-item{
                text-align: right;
                margin-top: 15px;
                &:first-child{
                    margin-top:0; 
                }
                .account-money{
                    width: 60px;
                    text-align: right;
                    display: inline-block;
                    color:$carbon-red;
                    .carbon-coin-num{
                        color:#24af26;
                    }
                }
            }
        }
        .pay-method-box{
            padding: 30px 15px;
            border-bottom: 1px solid $border-color;
            font-size: 18px;
            color:#333333;
            .method-item{
                display: inline-block;
                margin-left:20px;
                text-align: center;
                line-height: 55px;
                width: 175px;
                height: 55px;
                border:1px solid $border-color;
                &.active{
                    border:2px solid #24af26;
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        height: 22px;
                        width: 27px;
                        bottom: -1px;
                        right: 0;
                        background: url("../image/img-little-pass.png") no-repeat center center;
                    }
                }
                &:first-child{
                    margin-left: 0;
                }
                .icon-bao{
                    vertical-align: middle;
                    height: 41px;
                    width: 127px;
                    display: inline-block;
                    background: url("../image/img-bao.png") no-repeat center center;
                } 
                .icon-wechat{
                    vertical-align: middle;
                    width: 56px;
                    height: 40px;
                    display: inline-block;
                    background: url("../image/img-wechat.png") no-repeat center center; 
                }
            }
        }
        .pay-method-button{
            width: 245px;
            height: 55px;
            line-height: 55px;
            color:#ffffff;
            text-align: center;
            font-size: 22px;
            margin: 0 auto;
            margin-top: 45px;
            margin-bottom: 15px;
            cursor: pointer;
            background: #24af26;
        }
    }

}



.activity-tabs.describe{
	.menus{
		padding: 15px 0;
	   li{
		    border-top:none;
		    border-left: 3px solid #c2c2c2;
            padding: 0 25px;
		    font-size: 24px;
		    &:first-child{
		    	padding-left: 0;
		    	border-left: none;
		    }
		}
		border-bottom: 1px solid $border-color;    
	}
	.menus li.active, .activity-tabs .menus li:hover{
		border-top:none;
	}
	.activity-intro-box{
		padding: 25px;
		.activity-time-bar{
			background: #f8f8f8;
			color:#a9a9a9;
			font-size: 14px;
			margin-bottom: 15px;
			height: 38px;
			line-height: 38px;
			.icon-exchange{
				padding: 5px;
				margin: 0;
				margin-top: -5px;
			}
		}
		.activity-intro-text{
			text-indent: 2em;
			font-size: 14px;
			color:#666666;
		    margin-bottom: 30px;
		}
		.activity-img-box{
			overflow: hidden;
			.intro-img-item{
				margin-bottom: 20px;
				width: 290px;
				float: left;
				margin-left: 20px;
				height: 210px;
				&:first-child{
					margin-left: 0;
				}
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}


}

.pageFooter{
	&.fix-bottom{
		position: absolute;  
        bottom: 0;
        width: 100%;
	}
}

/* 撤销弹出框 */
.cancal-text{
	text-align: center;
	font-size: 22px;
	height: 250px;
	line-height: 250px;
	.ico-warn{
		display: inline-block;
		background: url("../image/icons/icon-warn.png") no-repeat center center;
		height: 55px;
		width: 55px;
		margin-right: 20px;
		vertical-align: middle;
	}
    .ico-success{
        display: inline-block;
        background: url("../image/icons/icon-big-success.png") no-repeat center center;
        height: 55px;
        width: 55px;
        margin-right: 20px;
        vertical-align: middle;
    }
}

/* 交换弹出框 */
.change-text{
    text-align: center;
    font-size: 22px;
    font-size: 16px;
    color:#333333;
    .change-select{
        height: 46px;
        padding: 102px 0;
    }
    .input-item {
        width:128px;
        height: 46px;
        font-size: 16px;
        border: 1px solid #e5e5e5;
        input{
            font-size: 14px;
            height: 100%;
            width: 100%;
            padding: 10px 20px 10px 10px;
            border: none;
            outline: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        display: inline-block;
        margin: 0;
        margin-left: 20px;
        float: none;
        position: relative;
        .icon-down{
            position: absolute;
            right: 0px;
            top: 0px;
            display: inline-block;
            width: 30px;
            height: 46px;
            cursor: pointer;
            background: url(../../statics/image/icons/icon-dropdown9.png) no-repeat center center;
        }
        .dropdown-list {
            display: none;
            position: absolute;
            left: -1px;
            width: 128px;
            overflow-y: auto;
            max-height: 200px;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            li{
                height: 35px;
                font-size: 14px;
                line-height: 35px;
                cursor: pointer;
                color: #666;
                &:hover{
                    background-color:#f5f5f5;
                }
            }
        }
    }

}


