@charset "UTF-8";
body {
  font-size: 14px;
  line-height: 1.4;
  font-family: "microsoft yahei";
  color: #333; }

/**导航条**/
.wrap-nav-tph {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 4px #eee;
  border-bottom: 1px solid #eee; }

/*顶部信息**/
.wrap-nav-top {
  background-color: #242424; }
  .wrap-nav-top .nav-top {
    margin: 0 auto;
    width: 1220px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    color: #fff;
    font-size: 12px; }
  .wrap-nav-top .nav-time {
    float: left; }
    .wrap-nav-top .nav-time .left {
      margin-right: 15px; }
  .wrap-nav-top .nav-user {
    float: right;
    height: 30px;
    line-height: 30px; }
    .wrap-nav-top .nav-user a {
      display: inline-block;
      color: #fff; }
    .wrap-nav-top .nav-user .user-info {
      float: left; }
      .wrap-nav-top .nav-user .user-info img {
        width: 22px;
        height: 22px;
        vertical-align: -6px; }
      .wrap-nav-top .nav-user .user-info span {
        margin-left: 5px; }
    .wrap-nav-top .nav-user .user-loginOut {
      margin: 0 15px 0 13px;
      float: left; }
    .wrap-nav-top .nav-user .user-news {
      position: relative;
      height: 30px;
      width: 20px;
      margin-right: 10px;
      background: url(../image/icon-news.png) no-repeat center center; }
      .wrap-nav-top .nav-user .user-news .icon-tip {
        position: absolute;
        right: -10px;
        top: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        color: #fff;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background: url(../image/icon-news-tip.png) no-repeat center center; }

.nav-tph {
  margin: 0 auto;
  width: 1220px;
  height: 95px; }
  .nav-tph .nav-left {
    margin-right: 35px;
    float: left; }
    .nav-tph .nav-left .wrap-logo {
      margin-top: 10px;
      float: left; }
      .nav-tph .nav-left .wrap-logo img {
        width: 100%; }
    .nav-tph .nav-left .wrap-address {
      position: relative;
      margin-left: 10px;
      float: left;
      margin-top: 30px;
      font-size: 14px; }
      .nav-tph .nav-left .wrap-address .wrap-up {
        padding: 5px;
        top: 1px;
        position: relative;
        z-index: 11;
        border: 1px solid #fff;
        border-bottom: none; }
      .nav-tph .nav-left .wrap-address .selectStatus {
        background-color: #fff;
        border-color: #dddddd; }
        .nav-tph .nav-left .wrap-address .selectStatus .address {
          color: #24b026; }
        .nav-tph .nav-left .wrap-address .selectStatus .icon-dropdown {
          background: url(../image/icon-dropup.png) center center;
          background-size: 9px 6px; }
      .nav-tph .nav-left .wrap-address .address {
        cursor: pointer;
        margin: 0 5px 0 3px; }
      .nav-tph .nav-left .wrap-address .icon-address {
        display: inline-block;
        width: 15px;
        height: 19px;
        background: url(../image/icon_address.png) center center;
        background-size: 15px 19px;
        vertical-align: -4px; }
      .nav-tph .nav-left .wrap-address .icon-dropdown {
        display: inline-block;
        width: 10px;
        height: 7px;
        background: url(../image/icon-dropdown.png) center center;
        background-size: 9px 6px; }
      .nav-tph .nav-left .wrap-address .address-list {
        display: none;
        position: absolute;
        left: 0;
        z-index: 10;
        width: 164px;
        height: 160px;
        background-color: #fff;
        border: 1px solid #dddddd; }
        .nav-tph .nav-left .wrap-address .address-list .item {
          float: left;
          width: 82px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #666;
          font-size: 12px;
          cursor: pointer; }
  .nav-tph .nav-right {
    float: right;
    font-size: 18px; }
    .nav-tph .nav-right .nav-item {
      float: left;
      line-height: 95px; }
      .nav-tph .nav-right .nav-item .item-a {
        display: block;
        padding: 0 27px;
        color: #333; }
      .nav-tph .nav-right .nav-item:hover {
        background-color: #24b026; }
        .nav-tph .nav-right .nav-item:hover .item-a {
          color: #fff; }
    .nav-tph .nav-right .active-item {
      background-color: #24b026; }
      .nav-tph .nav-right .active-item .item-a {
        color: #fff; }
      .nav-tph .nav-right .active-item:hover .item-a {
        color: #fff; }
    .nav-tph .nav-right .noActive-item {
      background-color: #fff; }
      .nav-tph .nav-right .noActive-item .item-a {
        color: #333; }
      .nav-tph .nav-right .noActive-item:hover {
        background-color: #24b026; }
        .nav-tph .nav-right .noActive-item:hover .item-a {
          color: #fff; }

.wrap-nav-content {
  position: relative; }
  .wrap-nav-content .wrap-sub-nav {
    display: none;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 16px;
    background-color: #24b026;
    text-align: center; }
    .wrap-nav-content .wrap-sub-nav .sub-nav-item {
      display: inline-block;
      padding: 0 50px; }
      .wrap-nav-content .wrap-sub-nav .sub-nav-item a {
        display: inline-block;
        color: #fff;
        padding: 0 15px; }
      .wrap-nav-content .wrap-sub-nav .sub-nav-item i {
        line-height: 1;
        display: inline-block;
        vertical-align: -4px; }
      .wrap-nav-content .wrap-sub-nav .sub-nav-item .active1 {
        width: 28px;
        height: 28px;
        background: url(../image/icons/icon-sub-co2.png) no-repeat center center;
        background-size: 27px 27px; }
      .wrap-nav-content .wrap-sub-nav .sub-nav-item .active2 {
        width: 37px;
        height: 27px;
        background: url(../image/icons/icon-sub-car.png) no-repeat center center;
        background-size: 36px 26px; }
      .wrap-nav-content .wrap-sub-nav .sub-nav-item .active3 {
        width: 24px;
        height: 32px;
        background: url(../image/icons/icon-sub-plant.png) no-repeat center center;
        background-size: 23px 31px; }
      .wrap-nav-content .wrap-sub-nav .sub-nav-item .active4 {
        width: 25px;
        height: 25px;
        background: url(../image/icons/icon-sub-activity.png) no-repeat center center;
        background-size: 25px 24px; }

.wrap-main {
  padding-top: 142px; }

/**轮播图**/
.wrap-banner {
  position: relative;
  margin: 0px auto;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .wrap-banner .banner-lists {
    position: relative;
    width: 100%;
    height: 575px; }
    .wrap-banner .banner-lists .item {
      height: 100%;
      width: 100%;
      display: none;
      position: absolute; }
      .wrap-banner .banner-lists .item img {
        width: 100%;
        height: 100%;
        vertical-align: middle; }
    .wrap-banner .banner-lists .active {
      display: block; }
  .wrap-banner .dot {
    padding: 20px 0 30px 0;
    line-height: 1;
    text-align: center; }
    .wrap-banner .dot i {
      margin: 0 4px;
      display: inline-block;
      width: 15px;
      height: 15px;
      cursor: pointer;
      background: url(../image/icon-dot-default.png) no-repeat center center;
      background-size: 15px 15px; }
    .wrap-banner .dot .on {
      background: url(../image/icon-dot-active.png) no-repeat center center;
      background-size: 15px 15px; }
  .wrap-banner .select a {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -50px;
    width: 61px;
    height: 61px; }
  .wrap-banner .select .prev {
    left: 110px; }
    .wrap-banner .select .prev i {
      background: url(../image/icon-banner-prev.png) no-repeat; }
  .wrap-banner .select i {
    display: inline-block;
    width: 61px;
    height: 61px; }
  .wrap-banner .select .next {
    right: 110px; }
    .wrap-banner .select .next i {
      background: url(../image/icon-banner-next.png) no-repeat; }
  .wrap-banner .pic-dimmer img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 575px; }
  .wrap-banner .pic-dimmer .wrap-details {
    position: absolute;
    top: 50%;
    z-index: 9;
    width: 100%;
    margin-top: -150px;
    height: 300px;
    text-align: center;
    color: #fff; }
    .wrap-banner .pic-dimmer .wrap-details h1 {
      font-size: 65px; }
    .wrap-banner .pic-dimmer .wrap-details .details {
      padding-top: 10px;
      font-size: 22px;
      font-family: "华文细黑 regular"; }
    .wrap-banner .pic-dimmer .wrap-details .link-us {
      display: inline-block;
      margin-top: 30px;
      width: 180px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-family: "华文细黑 regular";
      background-color: #24b026; }

/**960k宽度***/
.width960 {
  margin: 0 auto;
  width: 960px;
  overflow: hidden; }

.main {
  overflow: hidden; }
  .main .main-list .item {
    float: left; }
  .main .main-list .no-margin {
    margin-right: 0 !important; }

.main1 {
  margin-bottom: 38px; }
  .main1 .item {
    padding-top: 20px;
    margin-right: 20px;
    width: 225px;
    background-color: #fafafa; }
    .main1 .item .wrap-item-header .icon-get-carbon {
      background: url(../image/icon-get-carbon2.png) no-repeat center center; }
    .main1 .item .wrap-item-header .icon-exchange {
      background: url(../image/icon-exchange2.png) no-repeat center center; }
    .main1 .item .wrap-item-header .icon-send {
      background: url(../image/icon-send2.png) no-repeat center center; }
    .main1 .item .wrap-item-header .icon-know {
      background: url(../image/icon-know2.png) no-repeat center center; }
    .main1 .item .wrap-item-header .item-icon {
      float: left;
      display: inline-block;
      height: 40px;
      width: 72px;
      background-size: 36px 36px; }
    .main1 .item .wrap-item-header .item-header {
      height: 40px;
      overflow: hidden; }
      .main1 .item .wrap-item-header .item-header h3 {
        font-size: 20px;
        color: #333;
        line-height: 1.1;
        font-family: "华文细黑 regular"; }
      .main1 .item .wrap-item-header .item-header .header-details {
        display: inline-block;
        font-size: 10px;
        color: #a9a9a9;
        line-height: 1;
        font-family: "HelveticaNeue"; }
    .main1 .item .item-details {
      padding-top: 30px;
      text-align: center;
      color: #7f7f7f;
      font-size: 14px; }
    .main1 .item .item-link {
      display: block;
      margin: 30px auto 35px;
      width: 120px;
      height: 36px;
      font-size: 14px;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      color: #24b026;
      border: 1px solid #24b026;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
    .main1 .item:hover {
      background-color: #24b026;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .main1 .item:hover .icon-get-carbon {
        background: url(../image/icon-get-carbon1.png) no-repeat center center; }
      .main1 .item:hover .icon-exchange {
        background: url(../image/icon-exchange1.png) no-repeat center center; }
      .main1 .item:hover .icon-send {
        background: url(../image/icon-send1.png) no-repeat center center; }
      .main1 .item:hover .icon-know {
        background: url(../image/icon-know1.png) no-repeat center center; }
      .main1 .item:hover .item-header h3, .main1 .item:hover .item-header .header-details {
        color: #fff; }
      .main1 .item:hover .item-details, .main1 .item:hover .item-link {
        color: #fff; }
      .main1 .item:hover .item-link {
        border-color: #fff; }

.main2 {
  height: 228px;
  background: url(../image/icon-part-bg.png) center center;
  background-size: 100% 100%; }
  .main2 .main-list {
    padding-top: 85px; }
    .main2 .main-list .item {
      margin-right: 20px;
      width: 225px; }
      .main2 .main-list .item .item-right {
        color: #fff; }
        .main2 .main-list .item .item-right h4 {
          line-height: 1;
          padding-bottom: 10px; }
        .main2 .main-list .item .item-right strong {
          font-size: 26px;
          line-height: 1;
          font-weight: normal; }
        .main2 .main-list .item .item-right span {
          font-size: 16px; }
        .main2 .main-list .item .item-right p {
          font-size: 16px; }
      .main2 .main-list .item .icon-co2 {
        margin-top: 5px;
        width: 60px; }
      .main2 .main-list .item .icon-member {
        margin-top: 5px;
        width: 55px; }
      .main2 .main-list .item .icon-company {
        margin-top: 5px;
        width: 65px; }
      .main2 .main-list .item .icon-platform {
        height: 60px; }
    .main2 .main-list .text-left .item-icon {
      margin-right: 15px;
      float: left; }
    .main2 .main-list .text-left .item-right {
      overflow: hidden; }

/**低碳联盟**/
.main3 {
  padding-bottom: 35px; }
  .main3 .low-carbon-title {
    text-align: center; }
    .main3 .low-carbon-title h2 {
      padding: 50px 0 20px 0;
      line-height: 1.2;
      color: #24b026;
      font-size: 52px; }
    .main3 .low-carbon-title p {
      color: #a9a9a9;
      font-size: 24px; }
    .main3 .low-carbon-title .more {
      display: block;
      margin: 28px auto 10px;
      width: 120px;
      height: 36px;
      color: #24b026;
      line-height: 36px;
      border: 1px solid #24b026;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
  .main3 .wrap-union-list {
    overflow: hidden; }
    .main3 .wrap-union-list .union-list {
      position: relative;
      height: 328px;
      overflow: hidden; }
  .main3 .union-btn {
    margin-bottom: 12px;
    overflow: hidden; }
    .main3 .union-btn .wrap-btn {
      display: inline-block;
      float: right;
      width: 92px;
      height: 30px;
      border: 1px solid #eaeaea; }
      .main3 .union-btn .wrap-btn .turn-btn {
        float: left;
        display: inline-block;
        width: 45px;
        height: 100%; }
      .main3 .union-btn .wrap-btn .turn-left {
        border-right: 1px solid #eaeaea;
        background: url(../image/turn-left.png) no-repeat center center;
        background-size: 20px 20px; }
      .main3 .union-btn .wrap-btn .turn-left-active {
        background: url(../image/icons/icon-turnLeft.png) no-repeat center center;
        background-size: 20px 20px; }
      .main3 .union-btn .wrap-btn .turn-right {
        background: url(../image/turn-right.png) no-repeat center center;
        background-size: 20px 20px; }
      .main3 .union-btn .wrap-btn .turn-right-active {
        background: url(../image/icons/icon-turnRight.png) no-repeat center center;
        background-size: 20px 20px; }
  .main3 .union-list ul {
    left: 0;
    position: absolute;
    width: 9999px; }
  .main3 .union-list .union-item {
    float: left;
    width: 298px;
    margin-right: 18px;
    border: 5px solid #f8f8f8; }
    .main3 .union-list .union-item .wrap-pic {
      width: 298px;
      height: 208px;
      overflow: hidden; }
      .main3 .union-list .union-item .wrap-pic .pic {
        width: 100%;
        height: 100%;
        vertical-align: middle; }
    .main3 .union-list .union-item .item-details {
      padding: 0 12px 15px;
      background-color: #f8f8f8; }
      .main3 .union-list .union-item .item-details h5 {
        padding: 18px 0 15px;
        line-height: 1.2;
        font-size: 20px;
        color: #333; }
      .main3 .union-list .union-item .item-details p {
        color: #a9a9a9; }
    .main3 .union-list .union-item:hover {
      border-color: #24b026; }
      .main3 .union-list .union-item:hover .item-details {
        background-color: #2d3e50; }
      .main3 .union-list .union-item:hover h5, .main3 .union-list .union-item:hover p {
        color: #fff; }

.main4 {
  background-color: #f8f8f8; }
  .main4 .width960 {
    padding-bottom: 40px;
    background: url(../image/icon-bg-part1.png) no-repeat center center;
    background-size: 100% 100%; }
  .main4 h2 {
    padding: 50px 0;
    color: #333;
    font-size: 52px;
    text-align: center;
    line-height: 1; }
  .main4 .item {
    margin-right: 20px;
    width: 225px;
    height: 233px;
    text-align: center;
    background-color: #fff; }
    .main4 .item .item-pic {
      padding: 30px 0; }
      .main4 .item .item-pic img {
        vertical-align: middle; }
    .main4 .item h5 {
      padding-bottom: 30px;
      font-size: 24px;
      line-height: 1; }
    .main4 .item .item-details {
      padding: 0 10px;
      line-height: 1;
      font-size: 12px;
      color: #666; }
      .main4 .item .item-details p {
        padding-bottom: 5px; }

.main5 {
  padding-bottom: 30px; }
  .main5 .activity-carbon-title {
    text-align: center; }
    .main5 .activity-carbon-title h2 {
      padding: 50px 0 20px 0;
      line-height: 1.2;
      color: #24b026;
      font-size: 52px; }
    .main5 .activity-carbon-title p {
      color: #a9a9a9;
      font-size: 24px; }
    .main5 .activity-carbon-title .more {
      display: block;
      margin: 28px auto 10px;
      width: 120px;
      height: 36px;
      color: #24b026;
      line-height: 36px;
      border: 1px solid #24b026;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
  .main5 .wrap-activity-list {
    margin-top: 35px;
    overflow: hidden; }
    .main5 .wrap-activity-list .activity-left {
      position: relative;
      float: left;
      width: 306px;
      height: 438px;
      margin-bottom: 20px;
      overflow: hidden; }
      .main5 .wrap-activity-list .activity-left img {
        width: 100%;
        height: 100%; }
      .main5 .wrap-activity-list .activity-left:hover .hover-content {
        height: 100%;
        opacity: 1;
        filter: alpha(opacity=100); }
      .main5 .wrap-activity-list .activity-left:hover .activity-details {
        display: none; }
    .main5 .wrap-activity-list .hover-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0%;
      color: #fff;
      background: url(../image/icon-activity-big.png) no-repeat;
      background-size: 100% 100%;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      overflow: hidden; }
      .main5 .wrap-activity-list .hover-content h3 {
        line-height: 1.2;
        padding: 30px 0px 10px 20px;
        font-size: 22px; }
      .main5 .wrap-activity-list .hover-content .activity-address {
        text-align: center;
        font-size: 14px; }
      .main5 .wrap-activity-list .hover-content .plat {
        padding-right: 10px; }
      .main5 .wrap-activity-list .hover-content .activity-info {
        padding: 30px 0  30px 12px; }
        .main5 .wrap-activity-list .hover-content .activity-info p {
          padding-bottom: 5px; }
        .main5 .wrap-activity-list .hover-content .activity-info span {
          margin-right: 5px; }
      .main5 .wrap-activity-list .hover-content .address-intro {
        padding: 0 15px;
        text-indent: 2em;
        line-height: 1.8; }
    .main5 .wrap-activity-list .activity-details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 190px;
      height: 50px;
      color: #fff;
      background: url(../image/icon-sort-dimmer.png) no-repeat center center;
      background-size: 100% 100%; }
      .main5 .wrap-activity-list .activity-details .details-left {
        margin: 5px 0;
        padding-left: 14px;
        float: left;
        width: 105px;
        border-right: 1px solid #afaeae;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .main5 .wrap-activity-list .activity-details .details-left h4 {
          line-height: 1.2;
          font-size: 16px;
          overflow: hidden;
          height: 20px; }
        .main5 .wrap-activity-list .activity-details .details-left span {
          font-size: 12px; }
      .main5 .wrap-activity-list .activity-details .details-right {
        padding-left: 15px;
        overflow: hidden;
        line-height: 50px;
        font-size: 14px; }
        .main5 .wrap-activity-list .activity-details .details-right .icon-member {
          display: inline-block;
          margin-right: 5px;
          width: 16px;
          height: 16px;
          vertical-align: middle;
          background: url(../image/icon-user.png) no-repeat; }
        .main5 .wrap-activity-list .activity-details .details-right span {
          vertical-align: -2px; }
    .main5 .wrap-activity-list .activity-right {
      height: 438px;
      overflow: hidden; }
      .main5 .wrap-activity-list .activity-right .hover-content h3 {
        font-size: 22px;
        padding-top: 10px; }
      .main5 .wrap-activity-list .activity-right .hover-content .activity-info {
        padding-bottom: 0;
        padding-top: 10px; }
      .main5 .wrap-activity-list .activity-right .item {
        float: left;
        position: relative;
        width: 306px;
        height: 209px;
        margin-left: 20px;
        margin-bottom: 20px; }
        .main5 .wrap-activity-list .activity-right .item img {
          width: 100%;
          height: 100%; }
        .main5 .wrap-activity-list .activity-right .item:hover .hover-content {
          height: 100%; }
        .main5 .wrap-activity-list .activity-right .item:hover .activity-details {
          display: none; }

.main6 {
  background-color: #f8f8f8; }
  .main6 .add-bg {
    background: url(../image/icon-bg-part2.png) no-repeat;
    background-size: 100% 100%; }
  .main6 h2 {
    padding: 60px 0 50px;
    font-size: 52px;
    line-height: 1.2;
    color: #24b026;
    text-align: center; }
  .main6 .about-details {
    text-align: center;
    color: #666;
    line-height: 2; }
  .main6 .know-more {
    margin: 30px auto 40px;
    display: block;
    width: 140px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #24b026;
    border: 1px solid #24b026;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }

/**减碳置换**/
.big-banner {
  width: 100%;
  height: 419px; }
  .big-banner .pic {
    width: 100%;
    height: 100%; }

.carbonTrade-main {
  /**分页**/ }
  .carbonTrade-main .wrapTab {
    background-color: #f8f8f8; }
    .carbonTrade-main .wrapTab .tab {
      padding-top: 24px;
      float: left;
      overflow: hidden; }
      .carbonTrade-main .wrapTab .tab .tab-item {
        float: left;
        height: 65px;
        line-height: 65px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        border-top: 3px solid #f8f8f8; }
        .carbonTrade-main .wrapTab .tab .tab-item a {
          display: block;
          padding: 0 48px;
          color: #333; }
      .carbonTrade-main .wrapTab .tab .active-item {
        border-top-color: #24b026;
        background-color: #fff; }
        .carbonTrade-main .wrapTab .tab .active-item a {
          color: #24b026; }
    .carbonTrade-main .wrapTab .doI {
      float: right;
      margin-top: 27px;
      height: 36px;
      width: 120px;
      font-size: 16px;
      text-align: center;
      line-height: 36px;
      background-color: #fff;
      border: 1px solid #24b026;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      .carbonTrade-main .wrapTab .doI a {
        display: block;
        color: #24b026; }
  .carbonTrade-main .carbonTrade-list .wrap-sort {
    padding: 20px 0;
    overflow: hidden; }
    .carbonTrade-main .carbonTrade-list .wrap-sort .sort {
      float: right;
      height: 30px;
      border: 1px solid #dddddd; }
      .carbonTrade-main .carbonTrade-list .wrap-sort .sort i {
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block; }
      .carbonTrade-main .carbonTrade-list .wrap-sort .sort .icon-tip {
        width: 8px;
        height: 16px;
        background: url(../image/icons/icon-turnUp1.png) no-repeat; }
      .carbonTrade-main .carbonTrade-list .wrap-sort .sort .icon-dropdown {
        display: inline-block;
        width: 9px;
        height: 6px;
        background: url(../image/icons/icon-dropdown.png) center center;
        background-size: 9px 6px; }
    .carbonTrade-main .carbonTrade-list .wrap-sort a {
      float: left;
      display: inline-block;
      width: 85px;
      text-align: center;
      line-height: 30px;
      color: #666; }
    .carbonTrade-main .carbonTrade-list .wrap-sort .btnLeft {
      border-right: 1px solid #ddd; }
    .carbonTrade-main .carbonTrade-list .wrap-sort .nowActive {
      background-color: #24b026;
      color: #fff; }
      .carbonTrade-main .carbonTrade-list .wrap-sort .nowActive .icon-tip {
        background: url(../image/icons/icon-turnUp2.png) no-repeat; }
  .carbonTrade-main .carbonTrade-list .wrap-list {
    overflow: hidden; }
    .carbonTrade-main .carbonTrade-list .wrap-list .lists {
      overflow: hidden;
      border-top: 1px solid #e6e5e5; }
  .carbonTrade-main .item {
    padding: 30px 0;
    overflow: hidden;
    border-bottom: 1px solid #e6e5e5; }
    .carbonTrade-main .item .item-right {
      float: right;
      width: 190px;
      height: 110px;
      overflow: hidden; }
      .carbonTrade-main .item .item-right img {
        width: 100%;
        height: 100%; }
    .carbonTrade-main .item .companyRight {
      margin-right: 15px; }
    .carbonTrade-main .item .item-left {
      float: left;
      width: 675px; }
      .carbonTrade-main .item .item-left h5 {
        padding-bottom: 8px;
        font-size: 16px; }
        .carbonTrade-main .item .item-left h5 a {
          color: #24b026; }
      .carbonTrade-main .item .item-left .item-details {
        line-height: 1.6;
        color: #666; }
      .carbonTrade-main .item .item-left .item-info {
        padding-top: 15px;
        color: #a9a9a9;
        font-size: 12px; }
        .carbonTrade-main .item .item-left .item-info .item-time {
          margin-right: 20px; }
        .carbonTrade-main .item .item-left .item-info i {
          margin-right: 8px;
          display: inline-block;
          vertical-align: middle; }
        .carbonTrade-main .item .item-left .item-info .icon-time {
          width: 17px;
          height: 17px;
          background: url(../image/icons/icon-time.png) no-repeat;
          background-size: 14px 14px; }
        .carbonTrade-main .item .item-left .item-info .icon-watch {
          width: 21px;
          height: 13px;
          background: url(../image/icons/icon-watch.png) no-repeat; }
  .carbonTrade-main .item-find .item-left {
    width: 800px; }
    .carbonTrade-main .item-find .item-left h5 a {
      color: #333; }
    .carbonTrade-main .item-find .item-left .content-info .info {
      margin-right: 40px;
      color: #a9a9a9; }
      .carbonTrade-main .item-find .item-left .content-info .info b {
        color: #666;
        font-weight: normal; }
  .carbonTrade-main .item-find .left-pic {
    float: left;
    width: 130px; }
    .carbonTrade-main .item-find .left-pic .wrap-pic {
      margin: 0 auto 8px;
      width: 64px;
      height: 64px; }
      .carbonTrade-main .item-find .left-pic .wrap-pic img {
        width: 64px;
        height: 64px;
        vertical-align: middle; }
    .carbonTrade-main .item-find .left-pic .name {
      text-align: center; }
      .carbonTrade-main .item-find .left-pic .name a {
        color: #a9a9a9; }
  .carbonTrade-main .item-find .left-content {
    overflow: hidden; }
  .carbonTrade-main .item-find .item-right {
    text-align: right;
    height: auto;
    width: auto; }
    .carbonTrade-main .item-find .item-right a {
      margin-top: 20px;
      display: inline-block;
      width: 120px;
      height: 36px;
      line-height: 36px;
      color: #24b026;
      border: 1px solid #24b026;
      text-align: center;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
  .carbonTrade-main .list-page {
    padding: 35px 0;
    text-align: center; }
    .carbonTrade-main .list-page a {
      color: #8492a3;
      height: 38px;
      width: 38px;
      line-height: 38px;
      vertical-align: middle; }
    .carbonTrade-main .list-page .pageBtnWrap .curr {
      line-height: 40px; }
    .carbonTrade-main .list-page .pageBtnWrap a[title="首页"] {
      margin-right: 15px;
      border: 1px solid #24b026;
      background: url(../image/icons/icon-page-left1.png) no-repeat center center; }
    .carbonTrade-main .list-page .pageBtnWrap a[title="上一页"] {
      margin-right: 15px;
      border: 1px solid #24b026;
      background: url(../image/icons/icon-page-left.png) no-repeat center center; }
    .carbonTrade-main .list-page .pageBtnWrap a[title="下一页"] {
      margin-right: 15px;
      border: 1px solid #24b026;
      background: url(../image/icons/icon-page-right.png) no-repeat center center; }
    .carbonTrade-main .list-page .pageBtnWrap a[title="尾页"] {
      margin-right: 15px;
      border: 1px solid #24b026;
      background: url(../image/icons/icon-page-right1.png) no-repeat center center; }

/**减碳置换详情**/
.carbonTradeDetail-body {
  background-color: #f8f8f8; }

.carbonTradeDetail-main {
  padding-top: 129px;
  background-color: #f8f8f8;
  /* .details-info{
  	padding:20px 45px;
  	background-color:#fff;
  	border-right:1px solid #e6e5e5;
  	border-left:1px solid #e6e5e5;
  	overflow:hidden;
  	.info-item{
  		float:left;
  		.info-up{
  
  			color:#a9a9a9;
  		}
  	}
  	.info-left{
  		width:35%;
  		i{
  			margin-top:8px;
  			display:inline-block;
  			float:left;
  			margin-right:10px;
  			width:45px;
  			height:45px;
  			background:url(../image/icons/icon-round45.png) no-repeat;
  			background-size:45px 45px;
  		}
  		.info-down{
  			margin-top:5px;
  			font-size:24px;
  			color:#24b026;
  		}
  		.wrap-content{
  			overflow:hidden;
  		}
  	}
  	.info-middle{
  		width:25%;
  		.info-down{
  			color:#24b026;
  			font-size:24px;
  			margin-top:5px;
  			span{
  				font-size:12px;
  			}
  		}
  	}
  	.info-right{
  		width:40%;
  		.info-down{
  			margin-top:10px;
  			color:#333;
  			font-size:18px;
  		}
  	}
  } */ }
  .carbonTradeDetail-main .details-title {
    text-align: center; }
    .carbonTradeDetail-main .details-title h1 {
      padding-top: 50px;
      color: #24b026;
      font-size: 36px; }
    .carbonTradeDetail-main .details-title .item-info {
      padding: 30px 0;
      font-size: 16px; }
      .carbonTradeDetail-main .details-title .item-info i {
        margin-right: 5px;
        display: inline-block;
        vertical-align: -1px; }
      .carbonTradeDetail-main .details-title .item-info .item-time {
        padding-right: 20px; }
      .carbonTradeDetail-main .details-title .item-info .icon-time {
        width: 15px;
        height: 15px;
        background: url(../image/icons/icon-time.png) no-repeat center center;
        background-size: 14px 14px; }
      .carbonTradeDetail-main .details-title .item-info .icon-watch {
        width: 21px;
        height: 13px;
        background: url(../image/icons/icon-watch.png) no-repeat center center;
        background-size: 20px 12px; }
  .carbonTradeDetail-main .details-article {
    padding: 0 0 45px 0; }
    .carbonTradeDetail-main .details-article img {
      display: block;
      max-width: 100% !important;
      margin: 0 auto; }
    .carbonTradeDetail-main .details-article p {
      line-height: 2;
      font-size: 16px; }

/**弹框**/
.myModal-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: url(../image/icons/pic-dimmer1440.png);
  background-size: 100% 100%; }

.wrap-myModal {
  display: none; }
  .wrap-myModal .myModal {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 100;
    margin-left: -375px;
    width: 740px;
    border: 5px solid #24b026;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .wrap-myModal .myModal .myModal-title {
      padding-left: 18px;
      font-size: 16px;
      color: #fff;
      height: 45px;
      line-height: 40px;
      background-color: #24b026; }
      .wrap-myModal .myModal .myModal-title .icon-close {
        position: absolute;
        right: -20px;
        top: -20px;
        width: 33px;
        height: 33px;
        background: url(../image/icons/icon-close.png) no-repeat; }

.myModal-main {
  background-color: #fff;
  overflow-y: auto; }
  .myModal-main ul {
    padding: 0 65px 0 50px; }
  .myModal-main .input-item {
    height: 28px;
    padding-top: 15px; }
    .myModal-main .input-item .selectpick_div_box {
      margin: 0; }
    .myModal-main .input-item label {
      float: left;
      margin-right: 3px;
      margin-top: 3px;
      text-align: right;
      display: inline-block;
      width: 105px; }
      .myModal-main .input-item label span {
        margin-right: 3px;
        color: red; }
    .myModal-main .input-item .input-right {
      float: left; }
    .myModal-main .input-item .modalInput {
      padding: 5px;
      outline: none;
      border: 1px solid #e6e5e5;
      color: #a9a9a9;
      font-size: 12px; }
    .myModal-main .input-item .input1 {
      width: 140px; }
    .myModal-main .input-item .input2 {
      width: 382px; }
    .myModal-main .input-item .modalTextarea {
      padding: 5px;
      width: 510px;
      height: 100px;
      overflow: hidden;
      resize: none;
      border: 1px solid #e6e5e5;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .myModal-main .input-item:after {
      content: '';
      clear: both; }
  .myModal-main .dropdown-item .input-right {
    position: relative; }
  .myModal-main .dropdown-item .droptitle {
    position: relative;
    display: inline-block;
    padding: 5px;
    width: 140px;
    height: 18px;
    border: 1px solid #e6e5e5;
    color: #a9a9a9;
    font-size: 12px; }
    .myModal-main .dropdown-item .droptitle .icon {
      float: right;
      display: inline-block;
      width: 15px;
      height: 18px;
      background: url(../image/icons/icon-dropdown.png) no-repeat right center; }
  .myModal-main .dropdown-item .dropUl {
    display: none;
    position: absolute;
    left: 0;
    top: 28px;
    z-index: 10;
    width: 150px;
    padding: 0;
    font-size: 12px;
    border: 1px solid #e6e5e5;
    background-color: #fff; }
    .myModal-main .dropdown-item .dropUl .dropitem {
      padding: 5px;
      border-bottom: 1px solid #eee; }
  .myModal-main .word-tip {
    clear: both;
    padding: 5px 85px 15px 70px;
    text-align: right;
    color: #ff0000;
    font-size: 12px; }

.myModal-foot {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  background-color: #f8f8f8; }
  .myModal-foot .btn {
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #24b026;
    border: 1px solid #24b026;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
  .myModal-foot .apply-btn {
    margin-right: 20px;
    background-color: #24b026;
    color: #fff; }

/**低碳资讯**/
.tph-banner {
  position: relative; }
  .tph-banner img {
    width: 100%;
    height: 100%; }
  .tph-banner .add-dimmer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: url(../image/icons/icon-dimmer418.png); }

.carbonInfo-recommend {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .carbonInfo-recommend .wrap-recommend {
    margin: 90px auto 0;
    width: 785px;
    color: #fff; }
    .carbonInfo-recommend .wrap-recommend h2 {
      padding-bottom: 20px;
      font-size: 36px; }
      .carbonInfo-recommend .wrap-recommend h2 a {
        color: #fff; }
    .carbonInfo-recommend .wrap-recommend p {
      font-size: 18px;
      line-height: 1.6; }
    .carbonInfo-recommend .wrap-recommend .recommend-user {
      padding-top: 25px;
      font-size: 16px; }
      .carbonInfo-recommend .wrap-recommend .recommend-user a {
        margin-right: 45px;
        color: #fff; }
      .carbonInfo-recommend .wrap-recommend .recommend-user i {
        margin-right: 8px;
        display: inline-block;
        vertical-align: -2px; }
      .carbonInfo-recommend .wrap-recommend .recommend-user .icon-user {
        width: 18px;
        height: 18px;
        background: url(../image/icons/icon-user-white.png) no-repeat center center; }
      .carbonInfo-recommend .wrap-recommend .recommend-user span {
        margin-right: 20px; }
      .carbonInfo-recommend .wrap-recommend .recommend-user .icon-time {
        width: 18px;
        height: 18px;
        background: url(../image/icons/icon-time-white.png) no-repeat center center;
        background-size: 16px 16px; }
      .carbonInfo-recommend .wrap-recommend .recommend-user .icon-watch {
        width: 22px;
        height: 13px;
        background: url(../image/icons/icon-watch-white.png) no-repeat center center; }

.carbonInfoList-main {
  position: relative; }
  .carbonInfoList-main .tabcontent {
    margin: 0 auto 94px;
    width: 960px;
    height: 92px; }
  .carbonInfoList-main .wrapTab .active-item .list-sort {
    display: block; }
  .carbonInfoList-main .wrapTab .wrap-list-sort {
    left: 0;
    width: 100%;
    position: absolute; }
  .carbonInfoList-main .wrapTab .list-sort {
    display: none;
    padding: 40px 0 20px 0;
    margin: 0 auto;
    width: 960px;
    line-height: 1.4;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    text-align: left; }
    .carbonInfoList-main .wrapTab .list-sort .sort-item {
      display: inline-block;
      font-size: 14px;
      margin-right: 12px;
      padding: 6px 26px;
      color: #24b026;
      border: 1px solid #24b026; }
    .carbonInfoList-main .wrapTab .list-sort .active-item {
      background-color: #24b026;
      color: #fff; }

.carbonTrade-list .list-ul .list-item {
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #ddd; }
  .carbonTrade-list .list-ul .list-item h5 {
    padding-bottom: 15px;
    font-size: 16px; }
    .carbonTrade-list .list-ul .list-item h5 a {
      color: #333; }
    .carbonTrade-list .list-ul .list-item h5 .icon-mark {
      display: inline-block;
      padding: 1px 8px;
      margin-right: 10px;
      color: #24b026;
      border: 1px solid #24b026;
      font-size: 14px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
  .carbonTrade-list .list-ul .list-item .info-user {
    color: #a9a9a9;
    font-size: 12px; }
    .carbonTrade-list .list-ul .list-item .info-user a {
      color: #a9a9a9;
      margin-right: 40px; }
    .carbonTrade-list .list-ul .list-item .info-user i {
      display: inline-block;
      margin-right: 8px;
      vertical-align: -2px; }
    .carbonTrade-list .list-ul .list-item .info-user span {
      margin-right: 25px; }
    .carbonTrade-list .list-ul .list-item .info-user .icon-user {
      width: 16px;
      height: 16px;
      background: url(../image/icons/icon-user-gray.png) no-repeat center center; }
    .carbonTrade-list .list-ul .list-item .info-user .icon-time {
      width: 17px;
      height: 17px;
      background: url(../image/icons/icon-time.png) no-repeat center center;
      background-size: 14px 14px; }
    .carbonTrade-list .list-ul .list-item .info-user .icon-watch {
      width: 21px;
      height: 13px;
      background: url(../image/icons/icon-watch.png) no-repeat center center; }

.details-title .item-info .item-user {
  margin-right: 30px;
  color: #333; }
  .details-title .item-info .item-user .icon-user {
    width: 16px;
    height: 16px;
    background: url(../image/icons/icon-user-gray.png) no-repeat center center;
    background-size: 15px 15px; }

/**关于我们***/
.aboutUs-main .wrapTab .tab .tab-item a {
  padding: 0 38px; }
.aboutUs-main .aboutUs-content {
  padding: 30px 0;
  border-bottom: 20px solid #eee; }
  .aboutUs-main .aboutUs-content h5 {
    padding-bottom: 20px;
    font-size: 18px; }
  .aboutUs-main .aboutUs-content .details {
    font-size: 16px;
    text-indent: 2em;
    line-height: 1.8;
    color: #666; }
  .aboutUs-main .aboutUs-content .wrap-pic {
    padding: 25px 0 20px 0; }
    .aboutUs-main .aboutUs-content .wrap-pic .pic {
      vertical-align: middle;
      max-width: 100%; }
.aboutUs-main .content2 .wrap-pic {
  padding-left: 32px;
  padding-right: 32px; }
  .aboutUs-main .content2 .wrap-pic .pic {
    margin-right: 20px; }
.aboutUs-main .content3 .logo-list {
  overflow: hidden; }
  .aboutUs-main .content3 .logo-list .pic-item {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 90px;
    width: 223px;
    text-align: center;
    line-height: 88px;
    border: 1px solid #ddd; }
    .aboutUs-main .content3 .logo-list .pic-item .pic {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle; }
  .aboutUs-main .content3 .logo-list .no-margin {
    margin-right: 0; }
.aboutUs-main .content4 .pic-center {
  text-align: center; }
.aboutUs-main .content5 {
  border-bottom: none; }
  .aboutUs-main .content5 .wrap-pic {
    text-align: center; }
    .aboutUs-main .content5 .wrap-pic .wrap-wc {
      padding: 0 60px;
      display: inline-block; }
    .aboutUs-main .content5 .wrap-pic img {
      vertical-align: middle; }
    .aboutUs-main .content5 .wrap-pic .pic-details {
      display: block;
      font-size: 16px;
      color: #666; }

/**低碳产品**/
.carbonProductList-main .wrap-sort {
  border-bottom: 1px solid #ddd; }

.product-list .list-ul {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }
.product-list .product-item {
  position: relative;
  float: left;
  margin-top: 20px;
  height: 390px;
  width: 245px; }
  .product-list .product-item .wrap-item {
    padding: 10px;
    width: 225px; }
    .product-list .product-item .wrap-item .wrap-pic {
      height: 257px;
      line-height: 250px; }
      .product-list .product-item .wrap-item .wrap-pic img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle; }
    .product-list .product-item .wrap-item .product-info {
      font-size: 12px; }
      .product-list .product-item .wrap-item .product-info .product-name {
        padding: 10px 0 5px;
        color: #666666; }
        .product-list .product-item .wrap-item .product-info .product-name .name {
          padding-right: 20px; }
        .product-list .product-item .wrap-item .product-info .product-name b {
          color: #24b026;
          font-weight: normal; }
      .product-list .product-item .wrap-item .product-info .product-details {
        color: #666; }
      .product-list .product-item .wrap-item .product-info .product-watch {
        padding: 15px 0 13px 0;
        color: #a9a9a9; }
        .product-list .product-item .wrap-item .product-info .product-watch span {
          padding: 0 2px;
          color: #24b026; }
      .product-list .product-item .wrap-item .product-info h6 {
        font-size: 16px; }
        .product-list .product-item .wrap-item .product-info h6 a {
          color: #333; }
  .product-list .product-item .hover-item {
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 9;
    padding: 19px 19px 10px 19px;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 0 4px #ddd;
    -moz-box-shadow: 0 0 4px #ddd;
    box-shadow: 0 0 4px #ddd;
    background-color: #fff; }
.product-list .loading-more {
  padding: 30px 0 30px;
  text-align: center;
  color: #666; }
  .product-list .loading-more .icon-loading {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    background: url(../image/icons/icon-loading.gif) no-repeat center center;
    background-size: 30px 30px;
    vertical-align: -11px; }

/***尾部**/
.pageFooter {
  background-color: #242424; }
  .pageFooter .width1220 {
    margin: 0 auto;
    width: 1220px;
    border-bottom: 1px solid #575757; }
  .pageFooter .wrap-partner-list {
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #000; }
    .pageFooter .wrap-partner-list .partner-title {
      float: left;
      color: #24b026; }
    .pageFooter .wrap-partner-list .partner-list {
      overflow: hidden; }
      .pageFooter .wrap-partner-list .partner-list li {
        float: left;
        padding: 0 10px; }
      .pageFooter .wrap-partner-list .partner-list a {
        color: #fff; }
  .pageFooter .width960 {
    margin: 25px auto 0;
    width: 960px; }
    .pageFooter .width960 .company-info {
      overflow: hidden; }
      .pageFooter .width960 .company-info .item {
        padding-right: 100px;
        float: left; }
        .pageFooter .width960 .company-info .item a {
          color: #24b026; }
        .pageFooter .width960 .company-info .item h6 {
          padding-top: 5px;
          color: #fff;
          font-size: 18px;
          font-family: "STHeiti Regular"; }
      .pageFooter .width960 .company-info .item-second p {
        padding-bottom: 10px; }
      .pageFooter .width960 .company-info .item-third .icon-send {
        display: inline-block;
        margin-right: 15px;
        width: 25px;
        height: 17px;
        background: url(../image/icon-send.png) no-repeat;
        background-size: 24px 16px;
        vertical-align: middle; }
      .pageFooter .width960 .company-info .item-third .email {
        color: #fff; }
      .pageFooter .width960 .company-info .item-third .fackback {
        margin-top: 18px;
        width: 160px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        border: 1px solid #24b026;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px; }
      .pageFooter .width960 .company-info .item-four .pic-left {
        margin-left: 15px;
        vertical-align: 40px; }
      .pageFooter .width960 .company-info .item-four .download-link {
        margin-left: 25px;
        display: inline-block;
        width: 80px;
        text-align: center;
        color: #aeaeae; }
      .pageFooter .width960 .company-info .item-four .download-pic {
        margin-bottom: 5px; }
    .pageFooter .width960 .company-copyright {
      padding-bottom: 20px;
      line-height: 1.6;
      font-size: 12px;
      color: #aeaeae;
      text-align: center; }

/*# sourceMappingURL=newStyle.css.map */
