@CHARSET "UTF-8";
/*共有样式*/
.bg-wihte{
	background: #fff;
}
.sign-green{
	color: #24b026;
}
.sign-gray{
	color: #a9a9a9 !important;
}
.sign-red{
	color: #ff0000 !important;
}
.sign-blue{
	color: #4dcdc2;
}
.sign-orange{
	color: #f38446;
}
.sign-plus{
	font-size: 16px;
	color:#16b115;
}
.sign-minus{
	font-size: 16px;
	color:#ff0000;
}
.nopadding{
	padding: 0px !important;
}
.align-right{
	text-align: right;
}
.hide{
	display: none;
}
/*页面样式*/
.complaint{
	padding-left: 22px;
	background:url(../../statics/image/icon-complaint.png) no-repeat 10px center;
}
.tips-box{
	margin: 20px 30px;
	background:#fcfcfc url(../../statics/image/logo-footer.png) no-repeat 10px center;
	padding: 20px 20px 20px 100px;
	border:1px solid #eee;
	line-height: 24px;
}
.tab-item{
	position: relative;
}
.tab-item .tip{
	position: absolute;
	top: 4px;
	right: 14px;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: url(../../statics/image/icons/icon-news.png) no-repeat center center;
}
/* .fold-list-box{
	padding-bottom: 20px;
} */
/*
	由于该列表有展示和编辑两种状态，
	edit-state类为该列表是否编辑状态的区分类
*/
.fold-list li{
	border-bottom: 1px solid #eee;
}
.fold-list .fold-handle{
	display: block;
	color: #333;
	line-height: 56px;
	background: url(../../statics/image/icons/icon-dropdown.png) no-repeat right center;
}
.fold-list .fold-handle span{
	float: left;
	width: 22px;
	height: 22px;
	margin: 17px 10px 0 0;
	background: url(../../statics/image/icons/icon-checkbox-no.png) no-repeat;
	display: none;
}
.fold-list li.active .fold-handle{
	background: url(../../statics/image/icons/icon-dropup.png) no-repeat right center;
}

.fold-list .fold-detail{
	display: none;
	padding-bottom: 20px;
}
.fold-list li.active .fold-detail{
	display: block;
}
.fold-list li.active .fold-detail .link{
	color: #333;
}
.fold-list .vice{
	margin-top: 10px;
	font-size: 11px;
	color: #a9a9a9;
	line-height: 20px;
}
.fold-list.edit-state li.active .fold-detail{
	display: block;
}
.fold-list.edit-state li.active .fold-handle{
	background: url(../../statics/image/icons/icon-dropup.png) no-repeat right center;
}
.fold-list.edit-state .checkbox{
	display: block;
}
.fold-list.edit-state .active-checkbox{
	background: url(../../statics/image/icons/icon-checkbox.png) no-repeat;
}
.complaint-tap{
	border-bottom: 1px solid #eee;
	position: relative;
}
.complaint-tap a{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #333;
	padding: 0 30px;
}
.complaint-tap a.active{
	color: #24b026;
}
.complaint-tap .line-active{
	height: 3px;
	width: 88px;
	position: absolute;
	left: 0px;
	bottom: -1px;
	background: #24b026;
}
.form-box{
	padding-bottom: 20px;
}
.form-box .myModal-main ul{
	padding-left: 10px;
}
.form-box .myModal-main ul label{
	width: 145px;
}
.mailTo{
	margin:20px 0 ;
}

.notice-box{
	padding-bottom: 20px;
}
.notice-list li{	
	border-bottom: 1px solid #eee;
	line-height: 56px;

}
.notice-list .time{
	float: right;
	color: #a9a9a9;
}
.notice-list .text{
	display: inline-block;
	margin-left: 14px;
	width: 300px;
	white-space: nowrap;
　　overflow: hidden;
　　text-overflow: ellipsis;
}
.customer-right .list-content-activity .list-activity .activity-left h5.sex-boy{
	display: inline-block;
	padding:0 20px 0 0;
	line-height: 20px;
	background: url(../../statics/image/icon-boy.png) no-repeat right center;
}
.customer-right .list-content-activity .list-activity .activity-left h5.sex-girl{
	display: inline-block;
	padding:0 20px 0 0;
	line-height: 22px;
	background: url(../../statics/image/icon-girl.png) no-repeat right center;
}
.activity-info .autograph{
	display: inline-block;
	padding-top: 5px;
	font-size: 12px;
	width: 300px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.empty-box{
	line-height: 100px;
	text-align: center;
	color: #a9a9a9;
}
.customer-right .list-content-activity .friendList{
	padding-bottom: 20px;
}
.list-content-activity .friendList .icon-clear{
	display: inline-block;
	float: right;
	margin-top: 8px;
	width: 20px;
	height: 20px;
	background: url(../../statics/image/icons/icon-clear1.png) no-repeat;
}
.customer-right .list-content-activity .friendList .activity-item{
	padding: 20px 0 20px 10px;
	border-bottom: 1px dotted #e5e5e5;
}
.list-content-activity .friendList .apply-item .wrap-pic img,.list-content-activity .friendList .personal-item .wrap-pic img{
 padding: 2px;
 border: 1px solid #e5e5e5;
 width: 100%;
 height: 100%;
 -webkit-border-radius:50% ;
 -moz-border-radius:50% ;
  border-radius:50% ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.customer-right .list-content-activity .friendList .personal-item .wrap-pic{
  width: 55px;
  height: 55px;
}

.customer-right .list-content-activity .friendList .personal-item h5{
	margin-top: 10px;
}
.customer-right .list-content-activity .friendList .read-item h5,.customer-right .list-content-activity .friendList .read-item .autograph{
  color: #a9a9a9;
}
.customer-right .list-content-activity .friendList .personal-item .time{
	color: #a9a9a9;
	font-size: 12px;float: right;
}
.customer-right .list-content-activity .friendList .activity-right .friendOperate{
	padding-left: 8px;
	padding-right: 8px;
	width:auto;
	border: none;
	color: #666;
	font-size: 12px;
	background-color: #f3f3f3;
}
.wrap-notice-table{
	margin-top: -20px;
}
.wrap-notice-table table{
	width: 100%;
}
.wrap-notice-table tbody tr{
	border-bottom: 1px dotted #e5e5e5;
}
.wrap-notice-table tbody tr td{
	padding: 18px 0;
}
.wrap-notice-table tbody .type{
	width: 80px;
}
.checkbox-notice-table tbody .type .no-checkbox{
	  display: inline-block;
    width: 22px ;
    height: 22px;
    margin: 0px 10px 0 0;
    vertical-align: -6px;
    background: url(../../statics/image/icons/icon-checkbox-no.png) no-repeat;
}
.checkbox-notice-table tbody .type .active-checkbox{
	  background: url(../../statics/image/icons/icon-checkbox.png) no-repeat;
}
.wrap-notice-table table .system-notice{
	color: #4dcdc2;
}
.wrap-notice-table table .sale-notice{
	color: #f38445;
}
.wrap-notice-table table .send-notice{
	color: #4cc64f;
}
.wrap-notice-table table .time{
	color:#a9a9a9;
	font-size: 12px;
}

.wrap-notice-table table .readed td{
	color: #a9a9a9;
}




















